.collection-item {
  position: relative;
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
   

    &:hover .inverted{
        display: block;
    }

    &:hover .collection-footer{
      visibility: visible;
        opacity: 1;
    }
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  
    .collection-footer {

      position:absolute;
      width: 60%;
      height: 40%;
      display: flex;
      visibility: hidden;
      opacity: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.41);
      color:rgb(255, 255, 255);
      font-size: 18px;
    }
  }
  