.checkout-quantity{
    & span{
        padding: 10px;
        margin: 0px 15px;
        cursor: pointer;
    }
}

.chekout-remove{
    cursor: pointer;
}

.checkout-img{
    width: 120px;
    & img {
        width: 100%;
    }
}